.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .container h1 {
    margin: 25px 0 14px;
  }

  .container h3 {
    margin-top: 18px;
  }
  
  .container input {
    width: 50%;
    padding: 24px;

  
    background: #e6e6e6;
    border-radius: 5px;
    border: none;
  
    font-size: 16px;
    margin-top: 10px;
    color: gray;
  }
  .container button {
    margin-top: 26px;
    width: 50%;
    padding: 24px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem 1.8rem;
    background: linear-gradient(
      90deg, 
      rgb(53, 81, 222) 0%, 
      rgb(84, 165, 232) 100%
    );
    border-radius: 3rem;
    border: none;
  }
  
  .container button:hover {
    background: linear-gradient(
      90deg, 
      rgba(84, 165, 232, 1) 0%,
      rgba(53, 81, 222, 1) 100%
    );
  }
  
